	<h3>Welcome to Playlists</h3>
	<div class="row">
    	<div class="six columns">
			<% if flash[:notice] %>
			  <div class="notice" style="background-color:lightgreen; display:inline-block"><%= flash[:notice] %> </div>
			<% end %>
    		<h4>Register</h4>
    		<form action="/users" method="post">
    			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    			<label>First Name: 
	    			<input type="text" name="user[first_name]">
	    		</label>
	    		<label>Last Name: 
	    			<input type="text" name="user[last_name]">
	    		</label>
	    		<label>Email: 
	    			<input type="text" name="user[email]">
	    		</label>
	    		<label>Password: 
	    			<input type="password" name="user[password]">
	    		</label>
	    		<input type="submit" class="button-primary" name="" value="Register">
    		</form>
    	</div>
    	<div class="six columns">
    		<h4>Login</h4>
    		<form action="/sessions" method="post">
    			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	    		<label>Email: 
	    			<input type="text" name="user[email]">
	    		</label>
	    		<label>Password: 
	    			<input type="password" name="user[password]">
	    		</label>
	    		<input type="submit" class="button-primary" name="" value="Login">
    		</form>
    	</div>
    </div>

